@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
    font-family: 'Neue';
    src: url('./assets/NeueMontreal-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Neue';
    src: url('./assets/NeueMontreal-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Neue';
    src: url('./assets/NeueMontreal-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Neue';
    src: url('./assets/NeueMontreal-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal
}

@theme {
    --font-poppins : "Poppins", sans-serif;
    --color-primaryPurple: #5206C0;
    --color-grayScale-600: #212121;
    --color-secondaryColor: #FDC280;
    --font-neue: "Neue", sans-serif;
}

@layer base {
    body {
        @apply font-poppins;
    }
}